//COLOR//
$palette : (
  general : (
          bg:           WhiteSmoke,
          content-bg:   WhiteSmoke,
          default:      #333333,
          light:        #ffffff,
          highlight:    #1067AE,
          hover:        silver,
          warning:      #DD7520,
          danger:       #d93434,
  ),
  table : (
          bg:           #545454,
  ),
  footer: (
          bg: 			#444444,
          font:         #87827C,
  ),
);
