<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments :: head">...</head>
<body>
<header id="header" th:include="fragments :: header">...</header>

<section id="main" class="marginTop">
    <div class="container">

        <header class="major">
            <h1>Liste des Actions</h1>
        </header>
    </div>
</section>


<section class="list">
    <div class="container">
        <section>
            <div class="table-wrapper box box-primary">
                <table id="listActions" class="table table-hover customTable">
                    <thead>
                    <tr>
                        <th>Num</th>
                        <th>Name</th>
                        <th>Score Min</th>
                        <th data-orderable="false" class="tiny"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="item : ${action}">
                        <td th:text="${item.numaction}"></td>
                        <td th:text="${item.libaction}"></td>
                        <td th:text="${item.scoremin}"></td>
                        <td>
                            <div class="btn-group btn-group-justified" role="group">
                                <a th:href="@{/action-supprimer(id=${item.numaction})}" class="btn btn-danger">Supprimer</a>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <a th:href="@{/action-new}" class="btn btn-block btn-success btnCustom">Ajouter une nouvelle action</a>
            </div>
            <script type="text/javascript">
                $(document).ready(function() {
                    $('#listActions').dataTable( {
                        "order": [[0, "asc"]],
                        "autoWidth": false,
                        fixedHeader: true
                    });
                });
            </script>
        </section>
    </div>
</section>


<!-- Footer -->

<footer id="footer" th:include="fragments :: footer">...</footer>
</body>
</html>