<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments :: head">...</head>
<body>
<header id="header" th:include="fragments :: header">...</header>

<section id="main">
    <div class="container">

        <header class="major">
            <h2>Liste des apprenants</h2>
        </header>
    </div>
</section>

<!-- Main -->
<!-- Table -->
<section  class="wrapper">
    <div class="container">
        <section>
            <div class="table-wrapper">
                <table id="listApprenants">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Surname</th>
                        <th>Scoring</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="item : ${apprenants}">
                        <td th:text="${item.nomapprenant}">Jean</td>
                        <td th:text="${item.prenomapprenant}">2</td>
                        <td th:text="${item.numapprenant}">19.99</td>
                        <td><a th:href="@{/apprenants-modifier(id=${item.numapprenant})}" class="button alt small">Modifier</a>
                            <a th:href="@{/apprenants-supprimer(id=${item.numapprenant})}" class="button red">Supprimer</a>
                            <a th:href="@{/apprenants-detail(id=${item.numapprenant})}" class="button small">Détails</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </section>

    </div>

    <script type="text/javascript">
        $(document).ready(function() {
            $('#listApprenants').dataTable( {
                "order": [[0, "asc"]],
                "autoWidth": false,
                fixedHeader: true
            });
        });
    </script>
</section>

<!-- Adding -->
<section>
    <div class="container">
        <header class="major"><a th:href="@{/apprenants-new}" class="button fit small">Ajouter un nouvel apprenant</a></header>


    </div>
</section>


<!-- Footer -->

<footer id="footer" th:include="fragments :: footer">...</footer>
</body>
</html>