<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments :: head">...</head>
<body>
<header id="header" th:include="fragments :: header">...</header>

<section id="main">
    <div class="container">

        <header class="major">
            <h2>Liste des apprenants</h2>
        </header>
    </div>
</section>

<!-- Main -->
<!-- Table -->
<section  class="wrapper">
    <div class="container">

        <section>


            <div class="table-wrapper">
                <table>
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Surname</th>
                        <th>Scoring</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Jean</td>
                        <td>1</td>
                        <td>2000</td>
                        <td><a href="#" class="button alt small">Modifier</a>
                        <a href="#" class="button small"><!-- To dostyle="background-color:red"-->Supprimer</a>
                        </td>
                    </tr>
                    <tr>
                        <td>Jean</td>
                        <td>2</td>
                        <td>19.99</td>
                        <td><a href="#" class="button alt small">Modifier</a>
                            <a href="#" class="button red">Supprimer</a>
                            <a href="/detail" class="button small">Détails</a>
                        </td>
                    </tr>
                    <tr>
                        <td>Jean</td>
                        <td>3</td>
                        <td>29.99</td>
                        <td><a href="#" class="button alt small">Modifier</a>
                            <a href="#" class="button small"><!-- To dostyle="background-color:red"-->Supprimer</a>
                        </td>
                    </tr>
                    <tr>
                        <td>Jean</td>
                        <td>4</td>
                        <td>19.99</td>
                        <td><a href="#" class="button alt small">Modifier</a>
                            <a href="#" class="button small"><!-- To dostyle="background-color:red"-->Supprimer</a>
                        </td>
                    </tr>
                    <tr>
                        <td>Jean</td>
                        <td>5</td>
                        <td>29.99</td>
                        <td><a href="#" class="button alt small">Modifier</a>
                            <a href="#" class="button small"><!-- To dostyle="background-color:red"-->Supprimer</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </section>

    </div>
</section>

<!-- Adding -->
<section>
    <div class="container">
        <header class="major"><a href="/nouvelApprenant" class="button fit small">Ajouter un nouvel apprenant</a></header>


    </div>
</section>


<!-- Footer -->

<footer id="footer" th:include="fragments :: footer">...</footer>
</body>
</html>