<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments :: head">...</head>
<body>
<header id="header" th:include="fragments :: header">...</header>

<section id="main">
    <div class="container">

        <header class="major">
            <h2>Détails Apprenant</h2>
        </header>
    </div>
</section>

<!-- Main -->
<!-- Table -->
<section  class="wrapper">
    <div class="container">

        <section>


            <div class="table-wrapper">
                <table>
                    <thead>
                    <tr>
                        <th>Id Apprenant</th>
                        <th>Nom Apprenant</th>
                        <th>Prénom Apprenant</th>
                        <th>Scores</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="apprenant : ${apprenants}">
                        <td th:text="${apprenant.numapprenant}"></td>
                        <td th:text="${apprenant.nomapprenant}"></td>
                        <td th:text="${apprenant.prenomapprenant}"></td>
                        <td>
                            <tr th:each="score :${scores}">
                                <td th:text="${score.numaction}"></td>
                                <td th:text="${mission.valeur}"></td>
                            </tr>
                    </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="table-wrapper">
                <h3>Jeu Inscrit</h3>
                <table>
                    <thead>
                    <tr>
                        <th>Id jeu</th>
                        <th>libellé jeu</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="jeu : ${jeux}">
                        <td th:text="${jeu.numjeu}"></td>
                        <td th:text="${jeu.libellejeu}"></td>
                        <td><a th:href="@{/resultsjeu(idApprenant=${apprenants.numapprenant}, idJeu=${jeu.numjeu})}">
                            <button type="button" class="btn btn-primary">Récapitulatif du jeu</button>
                        </a></td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </section>

    </div>
</section>

<!-- Adding -->
<section>
    <div class="container">
        <header class="major"><a href="/modifierJeu" class="button fit small">Modifier le jeu</a></header>


    </div>
</section>


<!-- Footer -->

<footer id="footer" th:include="fragments :: footer">...</footer>
</body>
</html>