<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments :: head">...</head>
<body>
<header id="header" th:include="fragments :: header">...</header>

<section id="main">
    <div class="container">

        <header class="major">
            <h2>Details du jeu n° <span th:text="${jeu.numjeu}">Num Jeu</span> : <span th:text="${jeu.libellejeu}">LibJeu</span> </h2>
        </header>
    </div>
</section>

<!-- Main -->
<!-- Table -->
<section  class="wrapper">
    <div class="container">

        <section>


            <div class="table-wrapper">
                <table>
                    <thead>
                    <tr>
                        <th>Numéro de l'action</th>
                        <th>Libellé de l'action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="action : ${actions}">
                        <td th:text="${action.numaction}"></td>
                        <td th:text="${action.libaction}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </section>

    </div>
</section>

<!-- Adding -->
<section>
    <div class="container">
        <header class="major"><a href="/modifierJeu" class="button fit small">Modifier le jeu</a></header>


    </div>
</section>


<!-- Footer -->

<footer id="footer" th:include="fragments :: footer">...</footer>
</body>
</html>