<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments :: head">...</head>
<body>
<header id="header" th:include="fragments :: header">...</header>

<div class="mainContainer">
<section id="main" class="paddingTop">
    <div class="container">

        <header class="major">
            <h1>Details du jeu n° <span th:text="${jeu.numjeu}">Num Jeu</span> : <span th:text="${jeu.libellejeu}">LibJeu</span> </h1>
        </header>
    </div>
</section>

<!-- Main -->
<!-- Table -->
<section  class="list">
    <div class="container">
        <div class="table-wrapper box box-primary">
            <table id="detailsJeu" class="table table-hover customTable">
                <thead>
                <tr>
                    <th>Numéro de l'action</th>
                    <th>Libellé de l'action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="action : ${actions}">
                    <td th:text="${action.numaction}"></td>
                    <td th:text="${action.libaction}"></td>
                </tr>
                </tbody>
            </table>

            <a th:href="@{/jeu-modification(id=${jeu.numjeu})}" class="btn btn-block btn-warning btnCustom">Modifier le jeu</a>
        </div>
    </div>
</section>
</div>


<!-- Footer -->

<footer id="footer" th:include="fragments :: footer">...</footer>
</body>
</html>