<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments :: head">...</head>
<body>
<header id="header" th:include="fragments :: header">...</header>

<section id="main">
    <div class="container">

        <header class="major">
            <h2>Détails</h2>
        </header>
    </div>
</section>

<!-- Main -->
<section  class="wrapper">
    <div class="container">
        <section>

            <div class="table-wrapper">
                <table>
                    <thead>
                    <tr>
                        <th colspan="2"> <h3>Jean Monluc</h3> </th>
                    </tr>
                    <tr>
                        <th>Action</th>
                        <th>Score</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Jean</td>
                        <td>2</td>
                        <td><a href="" class="button alt small">Modifier</a>
                            <a href="#" class="button red">Supprimer</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </section>

    </div>
</section>

<section>
    <div class="container">
        <header class="major"><a href="/addPoint" class="button fit small">Ajouter un nouveau Score </a></header>


    </div>
</section>


<!-- Table -->

<!-- Footer -->
<footer id="footer" th:include="fragments :: footer">...</footer>
</body>
</html>