<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments :: head">...</head>
<body>
<header id="header" th:include="fragments :: header">...</header>

<div class="mainContainer">
<section id="main" class="paddingTop">
    <div class="container">

        <header class="major">
            <h1>Détails Apprenant</h1>
        </header>
    </div>
</section>

<!-- Main -->
<!-- Table -->
<section  class="list">
    <div class="container">
        <section>
            <div class="col-md-6">
                <div class="table-wrapper box box-primary">
                    <table id="détailsApprenants" class="table table-hover customTable">
                        <thead>
                        <tr>
                            <th>Id Apprenant</th>
                            <th>Nom Apprenant</th>
                            <th>Prénom Apprenant</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td th:text="${apprenant.numapprenant}"></td>
                            <td th:text="${apprenant.nomapprenant}"></td>
                            <td th:text="${apprenant.prenomapprenant}"></td>
                        </tr>
                        </tbody>
                    </table>

                    <a th:href="@{/apprenants-modifier(id=${apprenant.numapprenant})}" class="btn btn-block btn-success btnCustom">Modifier l'apprenant</a>
                </div>
            </div>

            <div class="col-md-6">
                <div class="table-wrapper box box-primary">
                    <table id="détailsApprenantsJeux" class="table table-hover customTable">
                        <thead>
                        <tr>
                            <th>Id jeu</th>
                            <th>libellé jeu</th>
                            <th class="tiny"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="jeu : ${jeux}">
                            <td th:text="${jeu.numjeu}"></td>
                            <td th:text="${jeu.libellejeu}"></td>
                            <td><a th:href="@{/resultsjeu(idApprenant=${apprenant.numapprenant}, idJeu=${jeu.numjeu})}">
                                <button type="button" class="btn btn-primary">Récapitulatif du jeu</button>
                            </a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </section>

    </div>
</section>
</div>


<!-- Footer -->

<footer id="footer" th:include="fragments :: footer">...</footer>
</body>
</html>