<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head th:include="fragments :: head">...</head>
	<body class="landing">
		<header id="header" th:include="fragments :: header">...</header>

		<!-- Banner -->
		<section id="banner">
			<div class="bannerBox">
				<h2>Bienvenue sur Permis Piste</h2>
				<p>La première application de gestion d'apprentissage.</p>
				<div class="actions">
					<a href="#one" class="btn btn-default btn-lg">Voir plus</a>
				</div>
			</div>
		</section>

		<!-- One -->
		<section id="one" class="wrapper style1 align-center">
			<div class="container">
				<header>
					<h2>La meilleure formation aux permis piste</h2>
					<p>Triomphez lors de l'épreuve finale.</p>
				</header>
				<div class="row">
					<section class="col-md-4 col-sm-12">
						<i class="icon big rounded fa-clock-o"></i>
						<p>Dépassez vos 40h de formation</p>
					</section>
					<section class="col-md-4 col-sm-12">
						<i class="icon big rounded fa-comments"></i>
						<p>Accompagnement personalisé</p>
					</section>
					<section class="col-md-4 col-sm-12">
						<i class="icon big rounded fa-user"></i>
						<p>Un entraineur pour Vous.</p>
					</section>
				</div>
			</div>
		</section>

		<!-- Two -->
		<section id="two" class="wrapper style2 align-center">
			<div class="container">
				<header>
					<h2>Évaluation des missions</h2>
					<p>Notre application révolutionnaire vous permettra d'accomplir l'impossible</p>
				</header>
				<hr class="col-xs-12"/>
				<div class="row">
					<section class="col-md-6 col-sm-12">
						<img class="image fit" src="/images/pic01.jpg" alt="" />
						<h3 class="title">Gestion des Apprenants</h3>
						<p>Vous pouvez créer, modifier et supprimer des apprenants</p>
					</section>
					<section class="col-md-6 col-sm-12">
						<img class="image fit" src="/images/pic02.jpg" alt="" />
						<h3 class="title">Affichage des jeux</h3>
						<p>Actions avec indicateurs pour chaque jeux</p>
					</section>
					<hr class="col-xs-12"/>
					<section class="col-md-6 col-sm-12">
						<img class="image fit" src="/images/pic03.jpg" alt="" />
						<h3 class="title">Affichage des scores</h3>
						<p>Les scores de vos apprenants aux différents jeux</p>
					</section>
					<section class="col-md-6 col-sm-12">
						<img class="image fit" src="/images/pic04.jpg" alt="" />
						<h3 class="title">Bilan des apprenants</h3>
						<p>Le bilan de l’apprenant présente le score de la mission, l’accomplissement ou non des objectifs de la mission et le score obtenu pour les actions réalisées. Pour chaque action, une évaluation sous forme textuelle est présentée avec, le cas échéant, une analyse de son échec.</p>
					</section>
				</div>
				<footer>
					<div class="actions">
						<a href="#banner" class="btn btn-default btn-lg">Remonter</a>
					</div>
				</footer>
			</div>
		</section>

		<footer id="footer" th:include="fragments :: footer">...</footer>
	</body>
</html>