<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:display="http://www.w3.org/1999/xhtml">
<head th:include="fragments :: head">...</head>
<body>
<header id="header" th:include="fragments :: header">...</header>

<section id="main">
    <div class="container">

        <header class="major">
            <h2>Liste des jeux</h2>
        </header>
    </div>
</section>

<!-- Main -->
<!-- Table -->
<section  class="wrapper">
    <div class="container">

        <section>

            <div class="table-wrapper">
                <table>
                    <thead>
                    <tr>
                        <th>Numéro du jeu</th>
                        <th>Libellé du jeu</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="jeu : ${mesJeux}">
                        <tr>
                            <td th:text="${jeu.numjeu}"></td>
                            <td th:text="${jeu.libellejeu}"></td>
                            <td>
                                <a th:href="@{/detailsJeu(id=${jeu.numjeu})}"> <button class="button alt small ">Détails</button></a>
                                <a th:href="@{/jeu-modification(id=${jeu.numjeu})}"> <button class="button small ">Modifier</button></a>
                                <a th:href="@{/supprimerJeu(id=${jeu.numjeu})}"> <button class="button small red">Supprimer</button></a>
                            </td>
                        </tr>
                    </tr>
                    </tbody>
                </table>
            </div>

        </section>

    </div>
</section>

<!-- Adding -->
<section>
    <div class="container">
        <header class="major"><a href="/jeu-new" class="button fit small">Ajouter un nouveau jeu</a></header>


    </div>
</section>


<!-- Footer -->

<footer id="footer" th:include="fragments :: footer">...</footer>
</body>
</html>