<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments :: head">...</head>
<body>
<header id="header" th:include="fragments :: header">...</header>

<div class="mainContainer">
<section id="main" class="paddingTop">
    <div class="container">

        <header class="major">
            <h1>Modification Apprenant</h1>
        </header>
    </div>
</section>

<!-- Main -->
<section  class="form">
    <div class="container">
        <div class="col-md-6">
            <div class="panel panel-default box-primary">
                <div class="panel-heading">
                    <h2>Modifier l'apprenant</h2>
                </div>
                <form action="#" th:action="@{/apprenant-modif}" th:object="${Apprenant}" method="post">
                    <div class="panel-body">
                        <div class="form-group">
                            <label for="nomapprenant">Nom</label>
                            <input type="text" class="form-control" th:name="firstname" th:value="${apprenant.nomapprenant}" placeholder="Nom" required="required"/>
                        </div>
                        <div class="form-group">
                            <label for="prenomapprenant">Prénom</label>
                            <input type="text" class="form-control" th:name="lastname" th:value="${apprenant.prenomapprenant}" placeholder="Prénom" required="required"/>
                        </div>
                        <input type="hidden" name="id" th:value="${apprenant.numapprenant}"/>
                    </div>
                    <div class="panel-footer">
                        <button type="submit" class="btn btn-block btn-success btnCustom" id="modifApprenant">Enregistrer Apprenant</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="col-md-6">
            <div class="panel panel-default box-primary">
                <div class="panel-heading">
                    <h2>Jeux Inscrit</h2>
                </div>
                <form th:action="@{/apprenant-inscription}" method="post">
                    <div class="panel-body">
                        <div class="table-wrapper">
                            <table class="table table-hover customTable">
                                <thead>
                                <tr>
                                    <th>Id jeu</th>
                                    <th>libellé jeu</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="jeu : ${jeux}">
                                    <td th:text="${jeu.numjeu}"></td>
                                    <td th:text="${jeu.libellejeu}"></td>
                                    <td>
                                        <a><i class="fa fa-times fa-lg" aria-hidden="true"></i></a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <h3>Inscrire à un jeu</h3>
                        <div class="form-group">
                            <select name="jeuinscri" class="col-xs-12 selectpicker" data-size="8">
                                <option th:each="jeu : ${jeuxpossibles}" th:value="${jeu.numjeu}" th:text="${jeu.libellejeu}"></option>
                            </select>
                            <input type="hidden" name="id" th:value="${apprenant.numapprenant}"/>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <button type="submit" class="btn btn-block btn-success btnCustom" id="inscrireApprenantJeu">Inscrire au jeu</button>
                    </div>
                </form>
            </div>
        </div>




        <!--<br><h3>Modifier l'apprenant</h3></br>-->

        <!--<form action="#" th:action="@{/apprenant-modif}" th:object="${Apprenant}" method="post">-->
            <!--<table>-->
                <!--<tr>-->
                    <!--<td>Nom: <input type="text" th:name="lastname" th:value="${apprenant.nomapprenant}"/></td>-->
                    <!--<td>Prénom: <input type="text" th:name="firstname" th:value="${apprenant.prenomapprenant}"/></td>-->
                <!--</tr>-->
            <!--</table>-->
            <!--<button type="submit" class="button" id="modifApprenant">Enregistrer Apprenant</button>-->
        <!--</form>-->

            <!--<div class="table-wrapper">-->
                <!--<h3>Jeu Inscrit</h3>-->
                <!--<table>-->
                    <!--<thead>-->
                    <!--<tr>-->
                        <!--<th>Id jeu</th>-->
                        <!--<th>libellé jeu</th>-->
                        <!--<th></th>-->
                    <!--</tr>-->
                    <!--</thead>-->
                    <!--<tbody>-->
                    <!--<tr th:each="jeu : ${jeux}">-->
                        <!--<td th:text="${jeu.numjeu}"></td>-->
                        <!--<td th:text="${jeu.libellejeu}"></td>-->
                        <!--<td></td>-->
                    <!--</tr>-->
                    <!--</tbody>-->
                <!--</table>-->
            <!--</div>-->
            <!--<h3>Inscrire à un jeu</h3>-->
            <!--<form th:action="@{/apprenant-inscription}" method="post">-->
                <!--<select name="jeuinscri">-->
                    <!--<option th:each="jeu : ${jeuxpossibles}" th:value="${jeu.numjeu}" th:text="${jeu.libellejeu}"></option>-->
                <!--</select>-->
                <!--<input type="hidden" name="id" th:value="${apprenant.numapprenant}"/>-->
                <!--<button type="submit" class="button" id="inscrireApprenantJeu">Inscrire au jeu</button>-->
            <!--</form>-->
    </div>
</section>
</div>



<!-- Footer -->
<footer id="footer" th:include="fragments :: footer">...</footer>
</body>


</html>