<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments :: head">...</head>
<body>
<header id="header" th:include="fragments :: header">...</header>

<section id="main">
    <div class="container">

        <header class="major">
            <h2>Modification Apprenant</h2>
        </header>
    </div>
</section>

<!-- Main -->
<section  class="wrapper">
    <div class="container">

        <br><h3>Modifier l'apprenant</h3></br>

        <form action="#" th:action="@{/apprenant-modif}" th:object="${Apprenant}" method="post">
            <table>
                <tr>
                    <td>Nom: <input type="text" th:name="lastname" th:value="${apprenant.nomapprenant}"/></td>
                    <td>Prénom: <input type="text" th:name="firstname" th:value="${apprenant.prenomapprenant}"/></td>
                </tr>
            </table>
            <input type="hidden" name="id" th:value="${apprenant.numapprenant}"/>
            <button type="submit" class="button" id="modifApprenant">Enregistrer Apprenant</button>
        </form>

            <div class="table-wrapper">
                <h3>Jeu Inscrit</h3>
                <table>
                    <thead>
                    <tr>
                        <th>Id jeu</th>
                        <th>libellé jeu</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="jeu : ${jeux}">
                        <td th:text="${jeu.numjeu}"></td>
                        <td th:text="${jeu.libellejeu}"></td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <h3>Inscrire à un jeu</h3>
            <form th:action="@{/apprenant-inscription}" method="post">
                <select name="jeuinscri">
                    <option th:each="jeu : ${jeuxpossibles}" th:value="${jeu.numjeu}" th:text="${jeu.libellejeu}"></option>
                </select>
                <input type="hidden" name="id" th:value="${apprenant.numapprenant}"/>
                <button type="submit" class="button" id="inscrireApprenantJeu">Inscrire au jeu</button>
            </form>
    </div>
</section>



<!-- Footer -->
<footer id="footer" th:include="fragments :: footer">...</footer>
</body>


</html>