<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments :: head">...</head>
<body>
<header id="header" th:include="fragments :: header">...</header>

<section id="main">
    <div class="container">

        <header class="major">
            <h2>Nouveau Jeu</h2>
        </header>
    </div>
</section>

<!-- Main -->
<section  class="wrapper">
    <div class="container">

        <br>Modifier le jeu</br>

        <form action="#" th:action="@{/jeu-modif}" th:object="${Jeu}" method="post">
            <table>
                <tr>
                    <td>Libellé: <input type="text" th:field="*{libellejeu}" th:value="${Jeu.libellejeu}"/></td>
                    <td>Numéro: <input type="text" th:field="*{numjeu}" th:value="${Jeu.numjeu}"/></td>
                </tr>
            </table>
            <button type="submit" class="button" id="createJeu">Enregistrer Jeu</button>
        </form>
    </div>
</section>



<!-- Footer -->
<footer id="footer" th:include="fragments :: footer">...</footer>
</body>


</html>