<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments :: head">...</head>
<body>
<header id="header" th:include="fragments :: header">...</header>

<section id="main">
    <div class="container">

        <header class="major">
            <h2>Nouveau Jeu</h2>
        </header>
    </div>
</section>

<!-- Main -->
<section  class="wrapper">
    <div class="container">

        <br>Saisissez un nouveau Jeux</br>

        <form action="#" th:action="@{/jeu-create}" th:object="${Jeu}" method="post">
            <table>
                <tr>
                    <td>Nom: <input type="text" th:field="*{libellejeu}" /></td>

                </tr>
            </table>
            <button type="submit" class="button" id="createJeu">Enregistrer Jeu</button>
        </form>
    </div>
</section>



<!-- Footer -->
<footer id="footer" th:include="fragments :: footer">...</footer>
</body>


</html>