<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments :: head">...</head>
<body>
<header id="header" th:include="fragments :: header">...</header>

<div class="mainContainer">
<section id="main" class="paddingTop">
	<div class="container">

		<header class="major">
			<h1>Nouvel Apprenant</h1>
		</header>
	</div>
</section>

<!-- Main -->
<section  class="form">
	<div class="container">
		<div class="panel panel-default box-primary">
			<div class="panel-heading">
				<h2>Saisissez un nouvel apprenant</h2>
			</div>
			<form action="#" th:action="@{/apprenants-create}" th:object="${Apprenant}" method="post">
				<div class="panel-body">
					<div class="form-group col-md-6">
						<label for="nomapprenant">Nom</label>
						<input type="text" class="form-control" th:field="*{nomapprenant}" placeholder="Nom" required="required"/>
					</div>
					<div class="form-group col-md-6">
						<label for="prenomapprenant">Prénom</label>
						<input type="text" class="form-control" th:field="*{prenomapprenant}" placeholder="Prénom" required="required"/>
					</div>
				</div>
				<div class="panel-footer">
					<button type="submit" class="btn btn-block btn-success btnCustom" id="createApprenant">Enregistrer Apprenant</button>
				</div>
			</form>
		</div>
	</div>
</section>
</div>


<!-- Footer -->
<footer id="footer" th:include="fragments :: footer">...</footer>
</body>


</html>