<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments :: head">...</head>
<body>
<header id="header" th:include="fragments :: header">...</header>

<div class="mainContainer">
<section id="main" class="paddingTop">
    <div class="container">

        <header class="major">
            <h1>Nouveau jeu</h1>
        </header>
    </div>
</section>

<!-- Main -->
<section  class="form">
    <div class="container">
        <div class="panel panel-default box-primary">
            <div class="panel-heading">
                <h2>Saisissez un nouveau jeu</h2>
            </div>
            <form action="#" th:action="@{/jeu-create}" th:object="${Jeu}" method="post">
                <div class="panel-body">
                    <div class="form-group">
                        <label for="libellejeu">Nom du jeu</label>
                        <input type="text" class="form-control" th:field="*{libellejeu}" placeholder="Nom du jeu" required="required"/>
                    </div>
                </div>
                <div class="panel-footer">
                    <button type="submit" class="btn btn-block btn-success btnCustom" id="createJeu">Enregistrer Jeu</button>
                </div>
            </form>
        </div>
    </div>
</section>
</div>



<!-- Footer -->
<footer id="footer" th:include="fragments :: footer">...</footer>
</body>


</html>